<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ordre des Annonces</ion-title>

    <ion-buttons slot="end">
      @if(!isOrderOriginal()){
      <ion-button (click)="resetOrder()">
        <ion-icon src="assets/icon/restart.svg" size="large"></ion-icon>
      </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-reorder-group (ionItemReorder)="reorderScores($event)" disabled="false">
    @for (id of order; track $index) {
    <ion-item>
      {{ getScoreIdentifierById(id)?.number }} - {{
      getScoreIdentifierById(id)?.title }}
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
    }
  </ion-reorder-group>
</ion-content>
