ion-menu ion-content {
  --background: var(--ion-color-primary);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
}

.menu-header {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Ensure it spans the full width */
  padding: 20px 0; /* Add vertical padding */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.menu-image {
  width: 150px;
  height: 150px;
}

/* Ensure the list background is also set to the primary color */
ion-menu ion-list {
  --background: var(--ion-color-primary);
}

/* Ensure padding and spacing remain consistent */
ion-menu.md ion-content,
ion-menu.ios ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

/* Selected item box in normal background color */
ion-menu.md ion-item.selected,
ion-menu.ios ion-item.selected {
  --background: var(--ion-color-secondary);
}

/* Selected item text and icons to be shaded primary color */
ion-menu.md ion-item.selected ion-label,
ion-menu.ios ion-item.selected ion-label {
  color: var(--ion-text-color-step-900);
  font-weight: bold; /* Optional, to emphasize selected item */
}

ion-menu.md ion-item.selected ion-icon,
ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-text-color-step-900);
}

/* Default item styles */
ion-menu.md ion-item ion-label,
ion-menu.ios ion-item ion-label {
  color: var(--ion-text-color-step-900); /* Default light color for text */
}

ion-menu.md ion-item ion-icon,
ion-menu.ios ion-item ion-icon {
  color: var(--ion-text-color-step-900); /* Default light color for icons */
}

/* Adjust padding and borders for lists */
ion-menu.md ion-list,
ion-menu.ios ion-list {
  padding: 20px 0;
  --padding-start: 10px;
  --padding-end: 10px;
  background: var(--ion-color-primary); /* Ensure list background matches menu */
}

ion-menu.md ion-item,
ion-menu.ios ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px; /* Slightly rounded corners for a modern look */
  --background: var(--ion-color-primary); /* Ensure list background matches menu */
}